.myheader {
    background-color: rgb(145, 224, 235);
 }
 

 body {
  background-color: #f4f9fd;
 }

 span {

    font-family: "Times New Romans", "Comic Sans MS", cursive, sans-serif;
} 

.navbar-brand{
    font-family: 'Times New Romans';
    opacity: 0.8;    
    font-size: 25px;
    letter-spacing: 4px;
    font-style: bold;
    text-shadow: 1px 2px #be0a22;
  }

  .formCSS{
      background: #f4f4f4;
  }

  